@charset "UTF-8";
/* CSS Document */
*{ padding:o; margin:0 auto; background:#5d130a}
#contents{ width:100%;}
p{ background:none;}
.banner img{ width:100%;}
.icon_ma{ width:90%; text-align:center;}
.icon{ width:50%; float:left; margin-top:10px;}
.icon img{ width:100%}
.icon .iphone{ display:block; padding-top:20px;}
.erweima{ width:45%; float:right}
.erweima img{ width:100%;}

#tip{ width:100%; height:100%; background:#000000; opacity:.8; color:#FFF; font-size:1.2em; position:fixed; top:0; left:0; transform:.5s; display:block;}
#tip p{ padding:0 20% 0 5%; line-height:1.8em; margin-bottom:1em;}
#tip p:first-child{ padding-top:5%;}
#tip img{ position:absolute; top:5%; right:5%; background:none;}

